.login_container {

    -fx-background-color: linear-gradient(to right bottom, #ff7300, #ffd400, #ff7300);
}
/*Account Log in */
.account_form_container {
    -fx-background-color: rgba(255, 212, 0, 0.09);
    -fx-alignment: center;
    -fx-background-radius: 18;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.35) ,20, 0.5 , 0 , 0 );
}

.account_form_container Label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-border-width: 0;
}

.account_form_container TextField {
    -fx-max-width: 275;
}
.account_form_container Button {
    -fx-background-color: linear-gradient(to right bottom, #ff7300, #ffd400, #ff7300);
    -fx-text-fill: #E4FDE1;
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-min-width: 125;
}

.account_form_container Button :hover {
    -fx-font-scale: 2;
}
.login_label {
    -fx-padding: 0 0 100 0;
    -fx-font-size: 30;

}
.login_form_error{
    -fx-padding: 15;
    -fx-max-height: 15;
}
.login_label_error {

    -fx-text-fill: #ff0000;
}